<body>
<header>
    <div class="container-fluid">
        <nav class="navbar navbar-expand navbar-dark bg-dark text-white fixed-top">
            <div class="container-fluid d-flex">
                <div class="navbar-nav d-flex align-items-center">
                        <a class="navbar-brand mx-3" href="/">The Art<br>Journey</a>
                        <a class="nav-link fw-semibold ms-2" href="/arts">Explore</a>
                </div>
                <!-- immediate child elements of .navbar use flex layout (d-flex) and will default to justify-content: space-between. -->
                <div class="navbar-nav d-flex">
                    <% if (currentUser) { %>
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle hidden-arrow text-capitalize" role="button" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-expanded="false">Welcome <%= currentUser.username %></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/users/arts">Collection</a>
                                <a class="dropdown-item" href="/users/new">Add new art</a>
                                <form class="dropdown-item" action="/sessions?_method=DELETE" method="POST">
                                    <input type="submit" value="Log Out"/>
                                </form>
                            </div>
                        </div>
                    <% } else { %>
                        <a class="nav-link fw-semibold" href="/users/signup">Sign Up</a>
                        <a class="nav-link fw-semibold" href="/sessions/new">Log In</a>
                    <% } %>
                </div>
            </div>
        </nav>
    </div>
</header>