<html>
    <%- include('./partials/head.ejs') %>
    <%- include('./partials/header.ejs') %>
    <!-- <div id="welcome"> -->
        <!-- <h1 class="main-title position-absolute top-50 start-50 translate-middle">The Art Journey</h1> -->

        <div id="carouselExampleAutoplaying" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="bg-image carousel-item active" data-bs-interval="5000">
                <div class="overlay-img"></div>
                <div class="main-title">
                    <h1 class="position-absolute top-50 start-50 translate-middle text-center">WELCOME TO THE ART JOURNEY</h1>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="3000">
                <img src="Image/Louvre-inside.jpg" class="d-block img-fluid" alt="...">
                <div class="carousel-caption d-none d-md-block mask" style="background-color: rgba(0, 0, 0, 0.6)">
                    <div class="d-flex flex-column justify-content-center h-100">
                        <h5 class="text-white mb-0">Exploring today</h5>
                    </div>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="3000">
                <img src="Image/vatican.jpg" class="d-block img-fluid" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Keep your memories</h5>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    <!-- </div> -->
    <%- include('./partials/footer.ejs') %>
</html>
