html {
    position: relative;
}
body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

/* HOME */
#welcome {
    background-color:#d8e2dc;
    width: 100vw;
    height: 100vh
}
.main-title {
    color: #606c38;
}
.btn-margin {
    margin-right: 20px;
}
.btn {
    width: 80px;
}
.carousel-item {
    height: 30rem;
    position: relative;
    background-color: black;
}
.overlay-img2 {
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8
}
.overlay-img2::before {
    background-position: center;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
.main-title {
    color: white;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
 #nav-flex-end {
    justify-self: end;
 }
 .quote {
    font-family:'Thasadith', sans-serif;
 }
 a {
    text-decoration: none;
 }

/* SHOW PAGE */
.bi-heart-fill {
    background-color: #e9ecef;
}
.bi-heart-fill:hover{
    color: #fb6f92 !important
}